body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-color: rgb(56, 30, 172);
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin: 0 0 10px;
}

.card-description {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #555;
}

.responsive-image {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
}
.my-button {
    background-color: #000080; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block for spacing */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

.my-button:hover {
    background-color: #000080; /* Darker green on hover */
}
